* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
body {
    background-color: rgba(54, 87, 54, 0.201);
    /* position: absolute;
    top:0; */
}

.container {
    font-size:16px;
    background-color: rgb(212, 240, 202) transparent;
    width:100vw;
    max-width:34em;
    position:absolute;
    transform: translate(-50%, -50%);
    top:25%;
    left:50%;
    padding: 3em;
    border-radius: 5em;
    box-shadow: 0 1.2em 2.4em rgba(71, 43, 5, 0.563);
}

/*CATEGORIES*/
h3 {
    color: rgb(77, 113, 22);
    font-size: 36px;
    font-weight: bold;
}

#categories-container {
    text-align:center;
}

#categories-container div {
    width:100%;
    display: flex;
    justify-content: space-between;
    margin: 1.2em 0 2.4em 0;
}

#categories-container button {
    padding: 0.6em 1.2em;
    border:3px solid rgb(95, 209, 89);
    border-radius: 3em;
    background-color: green;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    letter-spacing: 2px;

}
#categories-container button:hover {
    content: 'Pick your category';
    background-color: rgb(162,228,184);
}

#categories-container button:disabled {
    border: 3px solid rgb(63, 79, 59);
    background-color: rgb(114, 149, 109);
    background-color: rgb(139, 139, 143);
}

#categories-container button.active {
    background-color: rgb(98, 189, 24);
    border: 3px solid black;
    color:rgb(4, 26, 8);
}

/*LETTERS*/
.letter-container {
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 3px;
}

#letter-container button {
    height:2.4em;
    width:2.4em;
    border-radius:5px;
    background-color: greenyellow;
    font-weight: bold;
}
/* modal */
.new-game-popup {
    height:100%;
    width:100%;

    background-color: rgb(24, 140, 202);
    position:absolute;
    left:0;
    top:0;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius:5px;
}


#user-input{
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    letter-spacing: 18px;
    margin: 0.6em 0 1.2em 0;
}

/* END RESOLUTION */
.hide {
    display:none;
    /* visibility: hidden; */
}
#end-game-text h2 {
    font-size: 1.8em;
    text-align:center;
}
#end-game p {
    font-size:1.25em;
    margin: 1em 0 2em 0;
}

#end-game span {
    font-weight: 600;
}
#new-game-button {
    font-size:1.25em;
    padding: 0.5em 1em;
    background-color: yellow;
    border: 3px solid black;
    color:blue;
    border-radius: 2px;
}
.won-message {
    color: lightgreen;
};

.lost-message {
    color: red;
};

/* SCOOL */
/* BACKGROUND */
.drawing-container {
    position:relative;
   width:700px;
    height:550px;
    /* sky */
    background:lightblue;
    /* Grass */
    border-bottom:8px solid green;
} 

/* set the main (base) part the house */
.house {
    position:absolute;
    bottom:16px;
    left:50%;
    transform:translate(-50%);
    width: 450px;
    height: 350px;
    background: beige;
    box-shadow: 5px 5px 5px rgba(117, 117, 96, 0.5);
}

/* create a borderline on top */
.main::before {
    background: rgb(199, 199, 185);
    position:absolute;
    width: 100%;
    height:10px;
    left:0;
    top:0;
    content:'';
}
/* ROOF */
.roof {
    /* background-color: yellow; */
    position:absolute;
    height: 100px;
    width: 100%;

    /* move the top above the main */
    top: -100px;
    transition: 0.5ms;
    
}
/* left part of the roof */
.roof::before {
    content:'';
    background: rgb(24, 123, 123);
    position: absolute;
    width:60%;
    height:100%;
    top: 0;
    left: 0;
/* create the roof shape */
    transform: skew(330deg);
}
/* right part of the roof */
.roof::after {
    content:'';
    background: rgb(24, 123, 123);
    position: absolute;
    width:60%;
    height:100%;
    top: 0;
    right: 0;
/* create the roof shape */
    transform: skew(30deg);
    box-shadow: 5px 5px 5px rgba(103, 112, 112, 0.5);
}

.front {
    background:lightgray;
    position:absolute;
    width:180px;
    height:180px;
    bottom:0;
    left:50%;
    /* center the fron porch */
    transform: translateX(-50%);
}
/* creating the triangular shape in the roof */
.front::before {
    content: '';
    /* background: rgb(194, 23, 23); */
    background-color: lightgray;
    position: absolute;
    width: 126px;
    height:126px;
    left: 50%; /*move to the left, thus centering it */
    top:-64px;
    /* create the chape of a diamond */
    transform: translateX(-50%) rotate(45deg);
    border-top: 4px solid rgb(72, 71, 71);
    border-left: 4px solid rgb(72, 71, 71);;
}

/* the window */
.front::after {
    content:'';
    background-color:rgb(72, 71, 71);
    position:absolute;
    width: 46px;
    height: 49px;
    top:-66px;
    /* center it */
    left:50%;
    transform: translateX(-50%);
    /* round off the edges of the window */
    /* border-top-left-radius: 100px;
    border-top-right-radius: 100px; */
    border-radius: 50%;
    /* extend the shape further down */
    border: 4px solid rgb(72, 71, 71);
    /* create a window with a color that fades in a linear manner */
    background-image: linear-gradient(to right, transparent 10%, transparent 90%, rgb(72, 71, 71) 90%),
                    linear-gradient(to bottom, transparent 10%, rgb(112, 112, 112) 10%, rgb(147, 146, 146) 90%);
    /* greate vertical and horizontal lines */
    background-size: 10px 15px;
}

.wrapper {
    height: 100%;
    width: 95%;
    top:-10px;
    border: 5px solid #61412D;
    position: absolute;
    transform: translate(4px, 10px);
    /* 3D */
    perspective: 1000px;
  }
  
 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .door {
    background-color: #916144;
    height: 100%;
    width: 50%;
    position:absolute;
    transform: translateX(2%);
    
    /* inner layout */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

  }
  
  #left-door {
    top: 0;
    left: 0;
    border-right: 1px solid #5e3f2c;
    /* transition */
    transform-origin: left;
    transition: transform 0.5s;
  }
  
  #right-door {
    top: 0;
    right: 0;
    border-left: 1px solid #5e3f2c;
    /* transition */
    transform-origin: right;
    transition: transform 0.5s;
  }
  
  .shape {
    border: 4px solid rgb(68, 33, 33);
    width: 80px;
    height: 130px;
  }
  
  .knob {
    width: 10px;
    height: 50px;
    background-color: #D7DADE;
    position: absolute;
  }
  
  #left-knob {
    top: 50%;
    right: 10px;
  }
  
  #right-knob {
    top: 50%;
    left: 10px;
  }
  
  /* Door swing effect */
  .wrapper:hover #left-door{
    transform: rotateY(-140deg);
  }
  .wrapper:hover #right-door{
    transform: rotateY(140deg);
  }
  

/* small window besides the door, left*/
.door::before {
    content:'';
    position:absolute;
    width: 48px;
    height: 32px;
    left: -119px;
    top: -80px;

    background-color:rgb(72, 71, 71);
    background-image: linear-gradient(to right, transparent 10%, transparent 90%, rgb(72, 71, 71) 90%),
                    linear-gradient(to bottom, transparent 10%, rgb(112, 112, 112) 10%, rgb(147, 146, 146) 90%);
    /* window grid size*/
    background-size: 10px 10px;
    /* window frame */
    border:2px solid rgb(72, 71, 71) ;
    border-top: 5px solid rgb(72, 71, 71);
    border-bottom: 5px solid rgb(72, 71, 71) ;
}

/* small window besides the door, right*/
.door::after {
    content:'';
    position:absolute;
    width: 48px;
    height: 32px;
    right: -119px;
    top: -80px;

    background-color:rgb(72, 71, 71);
    background-image: linear-gradient(to right, transparent 10%, transparent 90%, rgb(72, 71, 71) 90%),
                    linear-gradient(to bottom, transparent 10%, rgb(112, 112, 112) 10%, rgb(147, 146, 146) 90%);
    /* window grid size*/
    background-size: 10px 10px;
    /* window frame */
    border:2px solid rgb(72, 71, 71) ;
    border-top: 5px solid rgb(72, 71, 71);
    border-bottom: 5px solid rgb(72, 71, 71) ;
}

.window-right {
    position:absolute;
    top:20px;
    right:30px;

    width: 60px;
    height: 50px;

    background-color:rgb(72, 71, 71);
    background-image: linear-gradient(to right, transparent 10%, transparent 90%, rgb(72, 71, 71) 90%),
                    linear-gradient(to bottom, transparent 10%, rgb(112, 112, 112) 10%, rgb(147, 146, 146) 90%);
    /* window grid size*/
    background-size: 10px 10px;
    /* window frame */
    border:2px solid rgb(72, 71, 71) ;
    border-top: 5px solid rgb(72, 71, 71);
    border-bottom: 5px solid rgb(72, 71, 71) ;
    transition: 10ms;
}
/* window bottom right corner */
.window-right::before {
    content:'';
    position:absolute;
    left: -12px;
    top: 143px;
    width: 60px;
    height: 154px;

    background-color:rgb(72, 71, 71);
    background-image: linear-gradient(to right, transparent 10%, transparent 90%, rgb(72, 71, 71) 90%),
                    linear-gradient(to bottom, transparent 10%, rgb(112, 112, 112) 10%, rgb(147, 146, 146) 90%);

    background-size: 10px 10px;

    border:5px solid rgb(72, 71, 71) ;
    /* border-top: 5px solid rgb(72, 71, 71);
    border-bottom: 5px solid rgb(72, 71, 71) ; */

    /* round off the top edges of the door*/
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

/* window top right corner */
.window-left {
    content:'';
    position:absolute;
    top:20px;
    left:30px;

    width: 60px;
    height: 50px;

    background-color:rgb(72, 71, 71);
    background-image: linear-gradient(to right, transparent 10%, transparent 90%, rgb(72, 71, 71) 90%),
                    linear-gradient(to bottom, transparent 10%, rgb(112, 112, 112) 10%, rgb(147, 146, 146) 90%);
    /* window grid size*/
    background-size: 10px 10px;
    /* window frame */
    border:2px solid rgb(72, 71, 71) ;
    border-top: 5px solid rgb(72, 71, 71);
    border-bottom: 5px solid rgb(72, 71, 71) ;
    transition: 0.5ms;
}
/* window bottom right corner */
.window-left::before {
    content:'';
    position:absolute;
    right: -12px;
    top: 143px;
    width: 60px;
    height: 154px;


    background-color:rgb(72, 71, 71);
    background-image: linear-gradient(to right, transparent 10%, transparent 90%, rgb(72, 71, 71) 90%),
                    linear-gradient(to bottom, transparent 10%, rgb(112, 112, 112) 10%, rgb(147, 146, 146) 90%);

    background-size: 10px 10px;

    border:5px solid rgb(72, 71, 71) ;
    border-top: 5px solid rgb(72, 71, 71);
    border-bottom: 5px solid rgb(72, 71, 71) ;

    /* round off the top edges of the door*/
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}
/* RIBBON */
h1 {
    position: relative;
    /* transform:translate(20%); */
    top: 26px;
    padding: 10px 40px;
    text-align: center;
    background-color: #f25f0a;
    color: rgb(232, 214, 214);
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    transition: 0.5ms;
  }
  
  h1::before, h1::after {
    content: '';
    width: 80px;
    height: 100%;
    background-color: #f25f0a;
  
    /* position ribbon ends behind and slightly lower */
    position: absolute;
    z-index: -1;
    top: 20px;
    
    /* clip ribbon end shape */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 25% 50%);
  
    /* draw and position the folded ribbon bit */
    background-image: linear-gradient(45deg, transparent 50%, #5d3922 50%);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  
  h1::before {
    left: -60px;
  }
  
  h1::after {
    right: -60px;
    transform: scaleX(-1); /* flip horizontally */
  }
/* INSTRUCTIONS MANUAL */
#game-instructions {
    background-color:rgb(31, 156, 156);
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:600px;
    height:300px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.5rem;

    /*TODO nested flexbox to move the 'X' to the right */
    display: flex;
    justify-content: space-between;
    align-items: center; 
    /* flex-direction: column;
    text-align: center; */

/* animation */
    animation-name:animatemodal;
    animation-duration: .4s;
} 
#review-instructions-button {

    border: solid;
    font-size: 1rem;
    background-color: transparent;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    border: 1pxr rgb(24, 123, 123);
    border-radius: 8px;
    padding: 2px;
    box-shadow: 0 0 3px rgb(106 115 105);
    transition: 0.5s;
    width: fit-content;
    height: max-content;

}
#review-instructions-button:hover {
    color:green;
    background-color: white;
}
#prev-button, #next-button {
    background-color: rgb(31, 156, 156);
    color:white;
    font-weight: bold;
    letter-spacing: 1px;
    border:solid 2pxr rgb(24, 123, 123);
    border-radius: 10px;
    padding:2px;
    box-shadow: 0 0 3px rgb(15, 75, 75);
    transition: 0.5s;
}
#prev-button:hover,  #next-button:hover{
    cursor:pointer;
    /* font-size: 3rem; */
    color: rgb(0, 255, 51);
}
#close-button {
    font-size: 3rem;
}

#close-button:hover {
    cursor:pointer;
    font-size: 3rem;
    color: red;
}

 #manual-container { 
    /* display:none;  */
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    z-index:1;
    /* background-color: rgba(45, 4, 4, 0.4); */
} 

/* Modal Animation Section */

@keyframes animatemodal {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top:50%;
        opacity:1;
    }
    
} 

.slide {
    display: none;
    color:rgb(186, 241, 186);
  }