
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

header {
  width: 100%;
  height: 50px;
  background-color:rgb(85, 117, 128);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index:300;
}

main {
  margin-top: 70px
}

nav ul {
  display:flex;
  justify-content: space-between;
  list-style-type: none;
}
nav ul a {
  color: whitesmoke;
  font-weight: bold;
}

h1 {
  text-align: center;
  margin-left: 10px;
  color:whitesmoke;
}

#image {
  max-width: 22%;
  height: auto;
  float: right;
  justify-content: center;
  display: block;
  transform: scaleX(-1);
  }

#tribute-info {
  font-size: 20px;
}

a {
  padding:20px;
  padding-left: 40px;
  color:rgb(5, 32, 39);
  font-size: 16px;
}

a:hover {
color:darkgrey;
}

#links {
  display:flex;
  justify-content: space-around;
}

.time-frame {
  color:darkgrey;
  justify-items: right;
}


body {
  margin: 0 20px;
  position:absolute;
  background: rgb(226, 221, 242);
  width:100%;

}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom:2em;
}

input[type="submit"] {
  display: block;
  min-width:300px;
  width: 30%;
  margin: 1em auto 1em auto;
  height: 4em;
  font-size: 1.1rem;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor:cell;
}
input, textarea {
  background-color: rgb(183, 200,87);
  border: 1px solid rgb(128, 128, 64);
  color:#333;
  margin:10px 0 0 0;
  width:100%;
  min-height:2em;
}

#img-caption {
  color:whitesmoke;
  font-style:bold;
  font-weight: bolder;
}
#img-caption:hover{
  color:rgb(85, 117, 128);
}
.toggle-container {
  margin-bottom: 20px;
}

.toggle-button {
  font-size: larger;
  font-weight: bolder;
  background-color:rgb(201, 190, 239);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor:pointer;
}

.toggle-content {
  display: none;
  background-color:rgb(223, 218, 242);
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

#linkedin, #github, #trailhead {
  font-weight: 500;
  font-size: 1.5rem;
}

p{
  padding: 40px;
} 
